<html>
	<header class="cabezote">
    	<h1>Video Player Web Generador de Portales Plus Ultra</h1> 
    	<p>Rellene los campos a conciencia</p> 
    </header>
    <body>
    	<form action = "/resultado" method = "POST">
        	<p>Nombre portal <input placeholder = "Nombre" type = "text" name = "nombrePortal" required /></p>
			<p> Cantidad de Paginas
			<select name="divclass">
				<option value="backone">1</option>
				<option value="backtwo">2</option>
				<option value="backtree">3</option>
				<option value="backfour">4</option>
				<option value="backfive">5</option>
				<option value="backsix">6</option>
				<option value="backseven">7</option>
				<option value="backeight">8</option>
				<option value="backnine">9</option>
				<option value="backten">10</option>
			</select>
			</p>
	        
	        <p>Nombre Pagina <input placeholder = "pagina" type = "text" name = "pagina" required /></p>
	        <p>Meta title <input placeholder = "William Arana Premium" type = "text" name = "metatitulo" required/></p>
	        <p>Meta description <input placeholder = "Comienza un nuevo d&iacute;a, abre tu mente y coraz&oacute;n para que juntos comencemos a vivir en bendici&oacute;n y en oraci&oacute;n" type ="text" name = "metadescription" required/></p>
	        <p>Titulo <input placeholder = "Titulo de la pagina" type = "text" name = "titulo" required/></p>
	        <p>Subtitulo <input placeholder = "Subtitulo de la pagina" type ="text" name = "subtitulo" required/></p>
	        <p><input type = "submit" value = "submit" /></p>
		</form>
	</body>
</html>